RewriteEngine On

# /dev, /dev/, /dev.html  => sous-domaine (canonical)
RewriteRule ^dev(?:\.html)?/?$ https://dev.informatique-cerdagne.fr/ [R=301,L]

RewriteRule ^mentions-legales\.html$ /mentions-legales/ [R=301,L]
RewriteRule ^mentions-legales/?$ /mentions-legales.html [L]